.mobile__menu {
    float: right;
    position: fixed;
    opacity: 0;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.175);
    transition-duration: 300ms;
    transition-property: opacity, -webkit-transform, transform;
    transform: scale(0.9) translateY(-1px);
    transform-origin: -6px 0px;
    box-shadow: rgb(25 25 25 / 10%) 0px 0px 1px, rgb(25 25 25 / 20%) 0px 8px 10px -4px;
}